#header {
	text-align : center;
}

#header > h1 {
	margin-bottom : 0px;
}

.date {
	font-family : var(--font-mono);
}

.justify h2 {
	position : -webkit-sticky;
	position : sticky;
	top : 0px;
	background-color : var(--background);
	border-bottom-width : thin;
	border-bottom-style : solid;
	border-image-slice : 1;
	border-image-source : linear-gradient(to right, var(--foreground), var(--background), var(--background), var(--background));
}

.footnotes ol {
	list-style : none;
	margin-left : 0px;
	counter-reset : footnote-count;
}

.footnotes li {
	counter-increment : footnote-count;
	margin-top : 1em;
}

.footnotes li::before {
	content : "[" counter(footnote-count) "]";
}

.footnotes li p {
	display : inline;
}

.footnote-ref {
	vertical-align : baseline;
	font-size : 1em;
}

.footnote-ref::before {
	content : " [";
}

.footnote-ref::after {
	content : "]";
}

.footnotes code {
	word-break : break-all;
}
