<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/project.css">
		<title>Projects</title>
	</head>
	<body>
		<%= $homepage %>
		<div id="content">
			<div id="header">
				<img id="avatar-top" class="avatar anim-3d" src="/image/avatar/4.png" />
				<h1>Project List</h1>
			</div>
			<p class="justify">This page lists various projects I have worked on, organised by most recent to least recent. Project information and links to source code are included whenever possible.</p>
			<%= render_projects(project_info["projects"]) %>
			<div class="centre">
				<br>
				<b>No more projects!</b>
				<br>
				<code>d /('0 _ 0')\ b</code>
			</div>
			<div class="justify">
				<p>All projects listed are either personal projects, paid work, or notable academic assignments. Although many of the personal projects are not particularly useful, they are a result of technical challenges or interests that I want to showcase.</p>
				<p>I've also started participating in the yearly programming challenges of <a href="https://adventofcode.com/">Advent of Code</a>, with my solutions hosted on my <a href="https://github.com/NuxiiGit/advent-of-code">GitHub</a>. The goal of my solutions are to use a wide variety of programming languages in order to solve the programming problems. This includes languages I have not yet applied to a practical situation, such as Prolog or Go.</p>
			</div>
			<div id="footer" class="flex">
				<div class="centre">
					<img id="avatar-bot" class="anim-wobble" src="/image/avatar/8.png" />
				</div>
			</div>
		</div>
		<script src="/script/project.js"></script>
	</body>
</html>
