<% list.each do |x| %>
	<% name = x["name"] %>
	<% id = convert_id name %>
	<div class="collapsible">
		<input id="<%= id %>" class="toggle" type="checkbox">
		<label for="<%= id %>">
			<% if x.key? "website" %>
				<% if x["website"] == nil %>
					<%= stringify name %>
				<% else %>
					<a href="<%= x["website"] %>"><%= stringify name %></a>
				<% end %>
			<% else %>
				<a href="<%= $urls["github"] %>/<%= name %>"><%= stringify name %></a>
			<% end %>
			<% if x.key? "begin" or x.key? "end" %>
				(<% if x.key? "begin" %><%= x["begin"] %>-<% end %><%= (x.key? "end") ? x["end"] : "present" %>)
			<% end %>
			::
			<% if x.key? "roles" %>
				<%= x["roles"].join ", " %>
			<% else %>
				Development
			<% end %>
			<% if x.key? "languages" %>
				<div class="right">
					<% langs = x["languages"] %>
					<% limit = langs.length - 1 %>
					{<% langs.each_with_index do |lang, i| %>
						<span lang="<%= lang.downcase %>"><%= stringify lang %></span><% if i != limit %>,<% end %>
					<% end %>}
				</div>
			<% end %>
		</label>
		<div class="collapsible-content">
			<div class="justify">
				<%= render_project_page id %>
			</div>
			<br>
			<div class="centre">
				<b>-- end of section --</b>
				<br>
				<code>d /('0 _ 0')\ b</code>
			</div>
		</div>
	</div>
<% end %>
